.Contact{
    width: 100%;
     height: max-content;
 }
 .Contactus{
     width: 50rem;
     height:max-content ;
     margin: auto;
 
 }
 .call{
     margin: auto;
     padding: 2rem;
 }
 .fab {
     margin: auto;
     color: green;
 }