.Services{
    width : 100%;
    max-height: auto;
    display: flex;
    font-family: System;


}
.serviceimg{
    width: 22rem;
    height: 22rem;
    border-radius: 0%;
    margin-top: 2rem;
    }
.service{
    text-align: center;
    width: 50rem;
    margin: auto;
    font-size: medium;
}