.Gallery{
    width: 100%;
    height: max-content;
    display: flex;
   align-content: center;
   margin: auto;

}
.item {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    height: 15rem;
    width: 25rem;
    display: flex;
    align-content: center;
    margin: auto;
  }
  .gallery1{
    width: 20rem;
    opacity: 0.8;
  }
  .caption{
      width: 20rem;
      text-align: left;
      position: absolute;
      font-size: 15px;

  }
 
@media  screen and (max-width:400px) {
  .item{
    height: 15rem;
    width: 34rem;
    float: left;


    }
  
}
  