.About{
    width: 100%;
    height: 600px;
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;

}
.about{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: 6rem;

}
.btn{
    padding: 10px;
    color: rgb(12, 8, 8);
    background-color :grey;
    border-radius: 10px;
    border: none;
    margin-right: 3rem;
    margin-top: 2rem;
}
.Works{
    margin: auto;
    margin-top: 2rem;
}

.works{
    list-style-type: none;
    display: flex;
    margin: auto;
    text-align: center;
}
.lists{
    margin: auto;
    text-align: center;
}